@font-face {
    font-family: 'Formular';
    src: url('https://miro.com/app/static/static/fonts/general/FormularRegular/formular-regular.4b9930.woff2');
}
  
body,
button,
input,
textarea,
select {
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: normal;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}
  
.sidebar-content {
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: flex-end;
    min-width: 0;
    min-height: 0;
    height: 100%;
}
  
.sidebar-header {
    font-size: 14px;
    font-weight: bold;
    height: 44px;
    padding: 8px 0 0 12px;
    font-family: Formular, sans-serif;
    font-size: 24px;
    font-weight: 500;
}